<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17E199</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>de.NoirOSX.driver.IntelHDInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IntelHDInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.7</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.7</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9E145</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9E145</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>GTX-1050</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x1c8d10de</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,slot-name</key>
				<data>
				QnVpbHRJbgA=
				</data>
				<key>device_type</key>
				<data>
				R3JhcGhpayBDb250cm9sbGVyAA==
				</data>
				<key>hda-gfx</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
				<key>model</key>
				<data>
				R2VGb3JjZSBHVFggMTA1MCBtb2JpbGUA
				</data>
			</dict>
		</dict>
		<key>HD-630</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.Brumbaer.PropertyInjector</string>
			<key>IOClass</key>
			<string>PropertyInjector</string>
			<key>IOMatchCategory</key>
			<string>mhteejhgjglö</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x591b8086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Properties</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAbWQ==
				</data>
				<key>AAPL,slot-name</key>
				<data>
				QnVpbHQgSW4=
				</data>
				<key>device_type</key>
				<data>
				R3JhcGhpayBDb250cm9sbGVyAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
				<key>model</key>
				<data>
				SW50ZWwgSEQgR3JhcGhpY3MgNjMwAA==
				</data>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 NoirOSX. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>12.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0</string>
		<key>de.Brumbaer.PropertyInjector</key>
		<string>1.1.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
