<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
      <key>BuildMachineOSBuild</key>
      <string>17E199</string>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string>
      <key>CFBundleIdentifier</key>
      <string>de.NoirOSX.driver.LanInjector</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>LanInjector</string>
      <key>CFBundlePackageType</key>
      <string>KEXT</string>
      <key>CFBundleShortVersionString</key>
      <string>1.1.6</string>
      <key>CFBundleSupportedPlatforms</key>
      <array>
              <string>MacOSX</string>
      </array>
      <key>CFBundleVersion</key>
      <string>1.1.6</string>
      <key>DTCompiler</key>
      <string>com.apple.compilers.llvm.clang.1_0</string>
      <key>DTPlatformBuild</key>
      <string>9E145</string>
      <key>DTPlatformVersion</key>
      <string>GM</string>
      <key>DTSDKBuild</key>
      <string>17E189</string>
      <key>DTSDKName</key>
      <string>macosx10.13</string>
      <key>DTXcode</key>
      <string>0930</string>
      <key>DTXcodeBuild</key>
      <string>9E145</string>
      <key>IOKitPersonalities</key>
      <dict>
              <key>I211 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15398086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>STIxMSBHaWdhYml0IE5ldHdvcmsgQ29ubmVjdGlvbgA=</data>
                      </dict>
              </dict>
              <key>I218 LM 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15a08086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAyIEkyMTggTE0A</data>
                      </dict>
              </dict>
              <key>I218 V 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15a18086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAyIEkyMTggVgA=</data>
                      </dict>
              </dict>
              <key>I218 LM 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15a28086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAzIEkyMTggTE0A</data>
                      </dict>
              </dict>
              <key>I218 V 4</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15a38086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAzIEkyMTggVgA=</data>
                      </dict>
              </dict>
              <key>I219 LM 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x156f8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiBJMjE5IExNAA==</data>
                      </dict>
              </dict>
              <key>I219 V 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15708086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiBJMjE5IFYA</data>
                      </dict>
              </dict>
              <key>I219 LM 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15b78086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAyIEkyMTkgTE0A</data>
                      </dict>
              </dict>
              <key>I219 V 4</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15b88086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAyIEkyMTkgVgA=</data>
                      </dict>
              </dict>
              <key>I219 LM 5</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15b98086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiAzIEkyMTkgTE0A</data>
                      </dict>
              </dict>
              <key>I219 LM 6</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15bb8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA3IEkyMTkgTE0A</data>
                      </dict>
              </dict>
              <key>I219 V 7</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15c98086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA3IEkyMTkgVgA=</data>
                      </dict>
              </dict>
              <key>I219 LM 8</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15bd8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA2IEkyMTkgTE0A</data>
                      </dict>
              </dict>
              <key>I219 V 9</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15be8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA2IEkyMTkgVgA=</data>
                      </dict>
              </dict>
              <key>I219 V 10</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15d68086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA1IEkyMTkgVgA=</data>
                      </dict>
              </dict>
              <key>I219 LM 11</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15d78086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA0IEkyMTkgTE0A</data>
                      </dict>
              </dict>
              <key>I219 V 12</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15d88086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiA0IEkyMTkgVgA=</data>
                      </dict>
              </dict>
              <key>I211</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x15398086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>STIxMSBHaWdhYml0IE5ldHdvcmsgQ29ubmVjdGlvbgA=</data>
                      </dict>
              </dict>
              <key>RTL8111</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x10ec8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>UlRMODExMS84MTY4Lzg0MTEgUENJIEV4cHJlc3MgR2lnYWJpdCBFdGhlcm5ldCBDb250cm9sbGVyAA==</data>
                      </dict>
              </dict>
              <key>I217 LM</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x153a8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiBJMjE3IExNAA==</data>
                      </dict>
              </dict>
              <key>I217 V</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x153b8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>RXRoZXJuZXQgQ29ubmVjdGlvbiBJMjE3IFYA</data>
                      </dict>
              </dict>
              <key>BCM5751F</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x167e14e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NTFGIEZhc3QgRXRoZXJuZXQgUENJIEV4cHJlc3MA</data>
                      </dict>
              </dict>
              <key>BCM5787F</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x167f14e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0TGluayBCQ001NzUxRiBGYXN0IEV0aGVybmV0IFBDSSBFeHByZXNzAA==</data>
                      </dict>
              </dict>
              <key>BCM5761e</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168014e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NjFlIEdpZ2FiaXQgRXRoZXJuZXQgUENJZSAA</data>
                      </dict>
              </dict>
              <key>BCM5761</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168114e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NjEgR2lnYWJpdCBFdGhlcm5ldCBQQ0llIAA=</data>
                      </dict>
              </dict>
              <key>BCM57762</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168214e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NzYyIEdpZ2FiaXQgRXRoZXJuZXQgUENJZSAA</data>
                      </dict>
              </dict>
              <key>BCM57767</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168314e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NzY3IEdpZ2FiaXQgRXRoZXJuZXQgUENJZSAA</data>
                      </dict>
              </dict>
              <key>BCM5764M</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168414e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NjRNIEdpZ2FiaXQgRXRoZXJuZXQgUENJZSAA</data>
                      </dict>
              </dict>
              <key>BCM57500S</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168514e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIElJIEJDTTU3NTAwUyBHaWdhYml0IEV0aGVybmV0IFBDSWUgAA==</data>
                      </dict>
              </dict>
              <key>BCM57766</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168614e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NzY2IEdpZ2FiaXQgRXRoZXJuZXQgUENJZSAA</data>
                      </dict>
              </dict>
              <key>BCM5762</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x168714e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>TEFOLUNvbnRyb2xsZXIA</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHRJbgA=</data>
                              <key>model</key>
                              <data>QXBwbGUgRXRoZXJuZXQA</data>
                              <key>name</key>
                              <data>TmV0WHRyZW1lIEJDTTU3NjIgR2lnYWJpdCBFdGhlcm5ldCBQQ0llIAA=</data>
                      </dict>
              </dict>
      </dict>
      <key>NSHumanReadableCopyright</key>
      <string>Copyright © 2018 NoirOSX. All rights reserved.</string>
      <key>OSBundleLibraries</key>
      <dict>
              <key>de.Brumbaer.PropertyInjector</key>
              <string>1.1.0</string>
              <key>com.apple.kpi.bsd</key>
              <string>12.0</string>
              <key>com.apple.kpi.dsep</key>
              <string>12.0</string>
              <key>com.apple.kpi.iokit</key>
              <string>12.0</string>
              <key>com.apple.kpi.libkern</key>
              <string>12.0</string>
              <key>com.apple.kpi.mach</key>
              <string>12.0</string>
              <key>com.apple.kpi.unsupported</key>
              <string>12.0</string>
      </dict>
      <key>OSBundleRequired</key>
      <string>Root</string>
</dict>
</plist>
