<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
      <key>BuildMachineOSBuild</key>
      <string>17E199</string>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string>
      <key>CFBundleIdentifier</key>
      <string>de.NoirOSX.driver.SataInjector</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>SataInjector</string>
      <key>CFBundlePackageType</key>
      <string>KEXT</string>
      <key>CFBundleShortVersionString</key>
      <string>1.1.6</string>
      <key>CFBundleSupportedPlatforms</key>
      <array>
              <string>MacOSX</string>
      </array>
      <key>CFBundleVersion</key>
      <string>1.1.6</string>
      <key>DTCompiler</key>
      <string>com.apple.compilers.llvm.clang.1_0</string>
      <key>DTPlatformBuild</key>
      <string>9E145</string>
      <key>DTPlatformVersion</key>
      <string>GM</string>
      <key>DTSDKBuild</key>
      <string>17E189</string>
      <key>DTSDKName</key>
      <string>macosx10.13</string>
      <key>DTXcode</key>
      <string>0930</string>
      <key>DTXcodeBuild</key>
      <string>9E145</string>
      <key>IOKitPersonalities</key>
      <dict>
              <key>AHCI 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x500115b7</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>V0QgQmxhY2sgTlZNZSBTU0QA</data>
                      </dict>
              </dict>
              <key>AHCI 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x200115b7</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>U2t5aGF3ayBTZXJpZXMgTlZNZSBTU0QA</data>
                      </dict>
              </dict>
              <key>AHCI 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0xa802144d</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>TlZNZSBTU0QgQ29udHJvbGxlciBTTTk1MS9QTTk1MQA=</data>
                      </dict>
              </dict>
              <key>AHCI 4</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0xa804144d</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKEtleSBNKQA=</data>
                              <key>device_type</key>
                              <data>TlZNLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>TlZNZSBTU0QgQ29udHJvbGxlciBTTTk2MS9QTTk2MQA=</data>
                      </dict>
              </dict>
              <key>AHCI 5</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0xa808144d</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKEtleSBNKQA=</data>
                              <key>device_type</key>
                              <data>TlZNLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>TlZNZSBTU0QgQ29udHJvbGxlciBTTTk4MS9QTTk4MQA=</data>
                      </dict>
              </dict>
              <key>AHCI 6</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0xa820144d</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKEtleSBNKQA=</data>
                              <key>device_type</key>
                              <data>TlZNLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>TlZNZSBTU0QgQ29udHJvbGxlciAxNzFYAA==</data>
                      </dict>
              </dict>
              <key>AHCI 7</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0xa821144d</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKEtleSBNKQA=</data>
                              <key>device_type</key>
                              <data>TlZNLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>TlZNZSBTU0QgQ29udHJvbGxlciAxNzJYAA==</data>
                      </dict>
              </dict>
              <key>AHCI 8</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0xa822144d</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKEtleSBNKQA=</data>
                              <key>device_type</key>
                              <data>TlZNLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>TlZNZSBTU0QgQ29udHJvbGxlciAxNzJYYS8xNzJYYgA=</data>
                      </dict>
              </dict>
              <key>AHCI 9</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x01161179</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>TlZNLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgTlZNZSBTU0QgQ29udHJvbGxlcgA=</data>
                              <key>name</key>
                              <data>VG9zaGliYSBBbWVyaWNhIEluZm8gU3lzdGVtcyBOVk1lIFNTRCBDb250cm9sbGVyAA==</data>
                      </dict>
              </dict>
      </dict>
      <key>NSHumanReadableCopyright</key>
      <string>Copyright © 2018 NoirOSX. All rights reserved.</string>
      <key>OSBundleLibraries</key>
      <dict>
              <key>de.Brumbaer.PropertyInjector</key>
              <string>1.1.0</string>
              <key>com.apple.kpi.bsd</key>
              <string>12.0</string>
              <key>com.apple.kpi.dsep</key>
              <string>12.0</string>
              <key>com.apple.kpi.iokit</key>
              <string>12.0</string>
              <key>com.apple.kpi.libkern</key>
              <string>12.0</string>
              <key>com.apple.kpi.mach</key>
              <string>12.0</string>
              <key>com.apple.kpi.unsupported</key>
              <string>12.0</string>
      </dict>
      <key>OSBundleRequired</key>
      <string>Root</string>
</dict>
</plist>
