<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
      <key>BuildMachineOSBuild</key>
      <string>17E199</string>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string>
      <key>CFBundleIdentifier</key>
      <string>de.NoirOSX.driver.WlanInjector</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>WlanInjector</string>
      <key>CFBundlePackageType</key>
      <string>KEXT</string>
      <key>CFBundleShortVersionString</key>
      <string>1.1.6</string>
      <key>CFBundleSupportedPlatforms</key>
      <array>
              <string>MacOSX</string>
      </array>
      <key>CFBundleVersion</key>
      <string>1.1.6</string>
      <key>DTCompiler</key>
      <string>com.apple.compilers.llvm.clang.1_0</string>
      <key>DTPlatformBuild</key>
      <string>9E145</string>
      <key>DTPlatformVersion</key>
      <string>GM</string>
      <key>DTSDKBuild</key>
      <string>17E189</string>
      <key>DTSDKName</key>
      <string>macosx10.13</string>
      <key>DTXcode</key>
      <string>0930</string>
      <key>DTXcodeBuild</key>
      <string>9E145</string>
      <key>IOKitPersonalities</key>
      <dict>
              <key>BCM 43224 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x435314e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMjQA</data>
                              <key>name</key>
                              <data>QkNNNDMyMjQA</data>
                      </dict>
              </dict>
              <key>BCM 43224 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x435314e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMjQA</data>
                              <key>name</key>
                              <data>QkNNNDMyMjQA</data>
                      </dict>
              </dict>
              <key>BCM 43225</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x435714e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMjUA</data>
                              <key>name</key>
                              <data>QkNNNDMyMjUA</data>
                      </dict>
              </dict>
              <key>BCM 4352</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x43b114e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDM1MgA=</data>
                              <key>name</key>
                              <data>QkNNNDM1MgA=</data>
                      </dict>
              </dict>
              <key>BCM 43602</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x43ba14e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDM2MDIA</data>
                              <key>name</key>
                              <data>QkNNNDM2MDIA</data>
                      </dict>
              </dict>
              <key>BCM 4350</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x43a314e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDM1MAA=</data>
                              <key>name</key>
                              <data>QkNNNDM1MAA=</data>
                      </dict>
              </dict>
              <key>BCM 4331</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x433114e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMzMQA=</data>
                              <key>name</key>
                              <data>QkNNNDMzMQA=</data>
                      </dict>
              </dict>
              <key>BCM 4322 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432b14e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMgA=</data>
                              <key>name</key>
                              <data>QkNNNDMyMgA=</data>
                      </dict>
              </dict>
              <key>BCM 4322 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432c14e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMgA=</data>
                              <key>name</key>
                              <data>QkNNNDMyMgA=</data>
                      </dict>
              </dict>
              <key>BCM 4322 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432d14e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMgA=</data>
                              <key>name</key>
                              <data>QkNNNDMyMgA=</data>
                      </dict>
              </dict>
              <key>BCM 4311 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x431114e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMxMQA=</data>
                              <key>name</key>
                              <data>QkNNNDMxMQA=</data>
                      </dict>
              </dict>
              <key>BCM 4311 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x431214e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMxMQA=</data>
                              <key>name</key>
                              <data>QkNNNDMxMQA=</data>
                      </dict>
              </dict>
              <key>BCM 4311 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x431314e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMxMQA=</data>
                              <key>name</key>
                              <data>QkNNNDMxMQA=</data>
                      </dict>
              </dict>
              <key>BCM 4318 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x431814e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMxOAA=</data>
                              <key>name</key>
                              <data>QkNNNDMxOAA=</data>
                      </dict>
              </dict>
              <key>BCM 4318 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x431914e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMxOAA=</data>
                              <key>name</key>
                              <data>QkNNNDMxOAA=</data>
                      </dict>
              </dict>
              <key>BCM 4306 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432014e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMwNgA=</data>
                              <key>name</key>
                              <data>QkNNNDMwNgA=</data>
                      </dict>
              </dict>
              <key>BCM 4306 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432514e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMwNgA=</data>
                              <key>name</key>
                              <data>QkNNNDMwNgA=</data>
                      </dict>
              </dict>
              <key>BCM 4309</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432414e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMwOQA=</data>
                              <key>name</key>
                              <data>QkNNNDMwOQA=</data>
                      </dict>
              </dict>
              <key>BCM 4321</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x432814e4</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>model</key>
                              <data>QkNNNDMyMQA=</data>
                              <key>name</key>
                              <data>QkNNNDMyMQA=</data>
                      </dict>
              </dict>
              <key>AR93xx</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x0030168c</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>model</key>
                              <data>QVI5M3h4AA==</data>
                              <key>name</key>
                              <data>QVI5M3h4AA==</data>
                      </dict>
              </dict>
              <key>Wifi 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x24f38086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>model</key>
                              <data>SW50ZWwgV2lmaQA=</data>
                              <key>name</key>
                              <data>SW50ZWwgV2lyZWxlc3MgODI2MAA=</data>
                      </dict>
              </dict>
              <key>Wifi 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x24fD8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKFdpRmkpAA==</data>
                              <key>device_type</key>
                              <data>V0xBTi1Db250cm9sbGVyAA==</data>
                              <key>model</key>
                              <data>SW50ZWwgV2lmaQA=</data>
                              <key>name</key>
                              <data>SW50ZWwgV2lyZWxlc3MgODI2NS84Mjc1AA==</data>
                      </dict>
              </dict>
      </dict>
      <key>NSHumanReadableCopyright</key>
      <string>Copyright © 2018 NoirOSX. All rights reserved.</string>
      <key>OSBundleLibraries</key>
      <dict>
              <key>de.Brumbaer.PropertyInjector</key>
              <string>1.1.0</string>
              <key>com.apple.kpi.bsd</key>
              <string>12.0</string>
              <key>com.apple.kpi.dsep</key>
              <string>12.0</string>
              <key>com.apple.kpi.iokit</key>
              <string>12.0</string>
              <key>com.apple.kpi.libkern</key>
              <string>12.0</string>
              <key>com.apple.kpi.mach</key>
              <string>12.0</string>
              <key>com.apple.kpi.unsupported</key>
              <string>12.0</string>
      </dict>
      <key>OSBundleRequired</key>
      <string>Root</string>
</dict>
</plist>
